@import '../../../../styles-variables';

table {
    width: 100%;   
    overflow-x: auto;
    overflow-y: auto; /* overflow-y: scroll;*/
    min-width: 500px;
   
   
}
th.mat-header-cell {
    text-align: left;
    max-width: 300px;
}

.background {
    padding: 80px 0 0 0;
    position: relative;
  
    .actions {
      text-align: center;
      margin: 50px;
      z-index: 1;
  
      span {
        display: inline-block;
        font-weight: bold;
        padding: 20px 10px 30px 10px;
      }
  
      a {
        margin: 0 5px 10px 0;
  
        &.actions-main {
          text-transform: uppercase;
          padding: 3px 24px;
        }
  
        fa-icon {
          position: relative;
          bottom: 1px;
        }
      }
    }
  
    .get-started {
      max-width: 700px;
      margin: 50px auto;
      letter-spacing: 0.01px;
      overflow-wrap: break-word;
      z-index: 1;
      overflow: hidden;
  
      code {
        font-size: 0.9em;
        display: inline-block;
        word-wrap: break-word;
        white-space: normal;
        margin: 0 0 10px 0;
      }
    }
  
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      /*background: url('../../../../assets/intro.jpg') no-repeat center top; */
      background-size: cover;
      opacity: 0.7;
      content: '';
      z-index: 0;
    }
  
    .gradient {
      &::before {
        position: absolute;
        top: 51%;
        left: 0;
        bottom: 0;
        right: 0;
        content: '';
        z-index: 0;
      }
    }
  
    .container {
      position: relative;
    }
  }